<h2>To Do App</h2>

<form (submit)="submit($event, task)">
  <label class="search-text" for="task">Enter New Task</label>
  <input #task class="search-text" type="text" name="task" id="task">
  <button class="submit-btn">Submit</button>
</form>

<div class="list">
  @for (task of (listTodo | async); track task.uid) {
    <div class="task-container"> 
      <input type="checkbox" class="check" [checked]="task.complete" (click)="markTaksCompleted(task.uid)"/>
      <div 
        class="task" 
        [class.completed]="task.complete"
        (click)="markTaksCompleted(task.uid)">
        <p>{{task.task}}</p>
      </div>
    </div>
  }
  <button 
    class="delete-btn" 
    type="button"
    (click)="clearTasksCompleted()">
    Clear Completed
  </button>
</div>